@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #FFFFFF;
    --text-color1: #292524;
    --text-color2: #57534E;
    --border: #D6D3D1;
    --upload: #A8A29E;
    --shadow: #FEE7D6;
    --select: #F3541C;
    --contrast: #E43A12;
    --hover-button: #b0290a;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color1); 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    overflow-x: hidden;
}

/* Contêiner principal */
.container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

/* Estilo da imagem */
.imagem {
    position: sticky; /* Inicia como relativo dps fica fixo */
    top: 0;
    width: 50%;
    height: 100vh;
    background-color: #2135A6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}
#imagem__ilustracao {
    margin-bottom: 80px;
}
#imagem__logo__inova {
    max-width: 260px;
}

/* Estilo do formulário */
.formulario-container {
    width: 50%;
    height: 100vh; /* Garante que o formulário role na altura da tela */
    overflow-y: auto; /* Habilita o scroll apenas no formulário */
    padding: 2%;
}

.formulario {
    display: flex;
    flex-direction: column;
    padding: 5.6%;
}

#titulo {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    padding: 3% 6% 0 6%;
}

#subtitulo {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0 6% 0 6%;
}

.legenda {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 20px;
}

.informacoes__pessoais, .endereco, .trilhas {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: none;
}

.campo {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.campo label {
    margin-bottom: 0.5em;
    display: block;
    color: var(--text-color2);
}

.campo__termos__links {
    text-decoration: none;
    color: var(--contrast);
}

input, select, button {
    border: 2px solid var(--border);
    border-radius: 8px;
    width: 100%; 
    padding: 0.9em; 
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.campo input:focus, .campo-endereco input:focus{
    border: 2px solid var(--select);
    outline: none;
    box-shadow: 0 0 1px 4px var(--shadow);
}

.campo-endereco {
    font-family: "Poppins", sans-serif;
    color: var(--text-color2);
    display: flex;
    width: 100%;
    gap: 24px;
}
.campo-endereco .campo1 {
    flex: 0.60;
}
.campo-endereco .campo2 {
    flex: 0.40;
}

/* Essa parte aqui é pra esconder o input original */
.campo-arquivo input[type="file"] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Aqui se cria uma nova área customizada de formulário pros arquivos */
.campo-arquivo .upload-area {
    width: 100%;
    height: 150px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--upload);
    transition: all 0.3s ease-in-out;
}

/* 
Esse é o campo que vai nos permitir clicar ou arrastar as imagens
aí as posições são obrigatórias e as funções estão no script
*/
.campo-arquivo .upload-area .file-input {
    position: absolute;
    /* width: 100%; */
    /* height: 100%; */
    opacity: 0;
    cursor: pointer;
}

/* Classe de cor adicionada pelo script, olha lá */
.campo-arquivo .upload-area.dragover {
    border-color: var(--select);
}


.campo-arquivo input::-webkit-file-upload-button {
    display: none;
}

.campo input[type = "checkbox"] {
    width: 20px; 
    height: 14px;   
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-decoration: none;
    box-shadow: none;
    
}

.campo-cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 252px;
    height: 116px;
    border: 2px solid var(--border);
    border-radius: 8px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: var(--bg-color);
}

.card:hover {
    border-color: var(--select);
}

.card input {
    position: absolute;
    top: 8px;
    left: 8px;
    transform: scale(1.2);
    cursor: pointer;
}

.card .icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.card .text {
    text-align: center;
}

/* Estilo para quando o input estiver marcado */
.card input:checked + .icon,
.card input:checked + .text {
    color: #007bff;
}

.card input:checked {
    accent-color: #007bff;
}


/* Estilo dos botões */

.botoes {
    display: flex;
    flex-direction: row;
    gap: 12px;
    font-family: "Poppins", sans-serif;
    justify-content: end;
}

.botao {
    display: block;
    font-size: 16px;
    background: var(--contrast);
    border: 2px solid var(--contrast);
    color: var(--bg-color);
    padding: 12px 24px;
    width: auto;
    cursor: pointer;
    gap: 8px;
}
.botao:hover{
    background: var(--hover-button);
    border-color: var(--hover-button);

}

.botao__cancelar {
    background: var(--bg-color);
    color: var(--contrast);
    border-color: var(--contrast);
}
.botao__cancelar:hover {
    background-color: var(--hover-button);
    color: var(--bg-color);
    border-color: var(--hover-button);
}

a {
    text-decoration: none;
}
